:root {
    --penguin-face: brown;
    --penguin-picorna: orange;
    --penguin-skin: black;
}

body {
    background: linear-gradient(45deg, rgb(118, 201, 255), rgb(247, 255, 222));
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    animation: 10s linear infinite sky;
    z-index: -1;
}

.clouds {
    position: absolute;
    left: 95%;
    top: 20px;
    animation: 5s linear infinite clouds;
    z-index: 1;
}

.cloud1 {
    border-radius: 50%;
    width: 100px;
    height: 150px;
    background-color: white;
    z-index: -2;
    position: absolute;
    animation: 2s linear infinite cloud;
}

.cloud2 {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: white;
    position: absolute;
    top: 30px;
    left: 50px;
    z-index: -3;
    animation: 2s linear infinite cloud;
}

.cloud3 {
    border-radius: 50%;
    width: 150px;
    height: 100px;
    background-color: white;
    position: absolute;
    left: 70px;
    animation: 2s linear infinite cloud;
}

.left-tree {
    width: 300px;
    height: 300px;
    background-color: green;
    position: absolute;
    transform: skew(15deg, 4deg);
    z-index: 1;
    margin-top: 100px;
    border-radius: 50%;
    top: -100px;
    left: 20px;
}

.left-tree .trunk {
    background-color: brown;
    position: absolute;
    /* transform: skew(55deg, 54deg); */
    z-index: 1;
    height: 150px;
    width: 80px;
    left: 120px;
    top: 150px;
    border-radius: 0%;
}

.right-tree {
    width: 300px;
    height: 300px;
    background-color: green;
    position: absolute;
    transform: skew(15deg, 4deg);
    z-index: 2;
    margin-top: 100px;
    border-radius: 50%;
    top: -0px;
    right: 20px;
}

.right-tree .trunk {
    background-color: brown;
    position: absolute;
    z-index: 1;
    height: 250px;
    width: 80px;
    left: 120px;
    top: 150px;
    border-radius: 0%;
}

.boulder {
    position: absolute;
    left: 38rem;
    top: 40rem;
}

.rock {
    position: absolute;
    width: 150px;
    height: 100px;
    background-color: gray;
    border-radius: 10% 20% 30% 50%;
    text-align: center;
}

.rock1 {
    position: absolute;
    width: 250px;
    height: 150px;
    background-color: gray;
    border-radius: 40% 40% 20% 30%;
    top: -3rem;
    left: -1rem;
    text-align: center;
}

.apple {
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    right: 4rem;
    animation: 1s linear infinite apple;
}

.apple1 {
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    right: 8rem;
    bottom: 10rem;
    animation: 2s linear infinite apple;
}

.apple2 {
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    right: 12rem;
    bottom: 2rem;
    animation: 3s linear infinite apple;
}

.apple3 {
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    right: 3rem;
    bottom: 1rem;
    animation: 4s linear infinite apple;
}


.apple4 {
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    right: 4rem;
    animation: 4s linear infinite apple;
}

.apple5 {
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    right: 8rem;
    bottom: 10rem;
    animation: 3s linear infinite apple;
}

.apple6 {
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    right: 12rem;
    bottom: 2rem;
    animation: 2s linear infinite apple;
}

.apple7 {
    background-color: limed;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    right: 3rem;
    bottom: 1rem;
    animation: 1s linear infinite apple;
}


.shrub {
    background-color: green;
    width: 200px;
    height: 100px;
    position: absolute;
    bottom: 10rem;
    left: 5rem;
    border-radius: 35%;

}

.stalk {
    background-color: brown;
    width: 20px;
    height: 50px;
    position: absolute;
    bottom: -2rem;
    left: 5rem;
    border-radius: 55%;

}

.water {
    background-color: blue;
    width: 1200%;
    height: 40px;
    position: absolute;
    top: 15rem;
    right: 1rem;
    z-index: -1;
    border-radius: 20% 20%;
}

.boat {
    top: 2.5rem;
    z-index: -2;
    position: absolute;
    animation: 2s linear infinite float;
}

.boat-bottom1 {
    position: absolute;
    width: 450px;
    height: 100px;
    border-radius: 10%;
    background-color: rgb(149, 98, 20);
    left: 25rem;
    top: 8rem;
    z-index: 1;

}

.boat-bottom2 {
    position: absolute;
    width: 50px;
    height: 100px;
    border-radius: 30%;
    background-color: rgb(149, 98, 20);
    left: -1rem;
    transform: rotate(35deg);
    z-index: -1;

}

.boat-bottom3 {
    position: absolute;
    width: 50px;
    height: 100px;
    border-radius: 30%;
    background-color: rgb(149, 98, 20);
    left: 21rem;

    transform: rotate(-35deg);
    z-index: -1;

}

.boat-mast {
    top: -11rem;
    right: 8rem;
    position: absolute;
    width: 15px;
    height: 300px;
    border-radius: 50%;
    background-color: rgb(149, 98, 20);
    z-index: -1;
}

.boat-sailL {
    top: -11em;
    right: 8.5rem;
    position: absolute;
    width: 100px;
    height: 170px;
    border-radius: 510% 20% 20% 20%;
    background-color: black;
    z-index: -1;
    animation: 2s linear infinite sail;
}

.skull1 {
    top: 3rem;
    font-size: 85px;
    left: -.8rem;
    position: absolute;
}

.boat-bottom6 {
    width: 50px;
    height: 30px;
    top: 1rem;
    background-color: black;
    border-radius: 50% 50% 50%;
    position: absolute;
}

.boat-bottom7 {
    width: 50px;
    height: 30px;
    top: 1rem;
    right: 1rem;
    background-color: black;
    border-radius: 50% 50% 50%;
    position: absolute;
}

#flag {
    background-color: black;
    border-radius: 510% 20% 20% 20%;
    width: 150px;
    height: 100px;
    top: -8.9rem;
    left: 13.3rem;
    position: absolute;
    animation: 2s linear infinite sail1;
    transform: rotate(90deg);
}

.boat-rail {
    position: absolute;
    width: 400px;
    height: 10px;
    background-color: rgb(149, 98, 20);
    top: -1rem;
    left: 1rem;
}

.boat-rail1 {
    position: absolute;
    width: 20px;
    height: 10px;
    background-color: rgb(149, 98, 20);
    top: -.2rem;
    left: 1rem;
    transform: rotate(90deg);
}

.boat-rail2 {
    position: absolute;
    width: 20px;
    height: 10px;
    background-color: rgb(149, 98, 20);
    top: -.2rem;
    left: 20rem;
    transform: rotate(90deg);
}

.boat-rail3 {
    position: absolute;
    width: 20px;
    height: 10px;
    background-color: rgb(149, 98, 20);
    top: -.2rem;
    left: 10rem;
    transform: rotate(90deg);
}

/* car */
.car {
    position: relative;
    right: -50rem;
    animation: slide 3s linear infinite;
}

.car-body {
    position: absolute;
    width: 500px;
    height: 100px;
    background: linear-gradient(45deg, purple, red, purple);
    top: 15rem;
    left: 14rem;
    animation: hydro 5s linear infinite;
    z-index: 1;
}

.car-tireL {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: orange;
    border-radius: 50%;
    top: 18rem;
    left: 17rem;
    animation: roll 2s linear infinite forwards;
}

.l1 {
    position: absolute;
    width: 40px;
    height: 20px;
    background-color: black;
    border-radius: 50% 20% 20% 40%;
    top: 1rem;
    left: 2rem;
    transform: rotate(298deg);
}

.l2 {
    position: absolute;
    width: 40px;
    height: 20px;
    background-color: black;
    border-radius: 50% 20% 20% 40%;
    top: 2rem;
    left: .5rem;
    transform: rotate(190deg);
}

.l3 {
    position: absolute;
    width: 40px;
    height: 20px;
    background-color: black;
    border-radius: 50% 20% 20% 40%;
    top: 2.5rem;
    left: 2.5rem;
    transform: rotate(30deg);
}

.l4 {
    position: absolute;
    width: 40px;
    height: 20px;
    background-color: black;
    border-radius: 50% 20% 20% 40%;
    top: 3.5rem;
    left: 1.2rem;
    transform: rotate(110deg);
}

.l5 {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    top: 2.2rem;
    left: 2rem;
    transform: rotate(110deg);
}

.car-tireR {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: orange;
    border-radius: 50%;
    top: 18rem;
    left: 31rem;
    animation: 2s linear infinite roll;
}

.r1 {
    position: absolute;
    width: 40px;
    height: 20px;
    background-color: black;
    border-radius: 50% 20% 20% 40%;
    top: 1rem;
    left: 2rem;
    transform: rotate(298deg);
}

.r2 {
    position: absolute;
    width: 40px;
    height: 20px;
    background-color: black;
    border-radius: 50% 20% 20% 40%;
    top: 2rem;
    left: .5rem;
    transform: rotate(190deg);
}

.r3 {
    position: absolute;
    width: 40px;
    height: 20px;
    background-color: black;
    border-radius: 50% 20% 20% 40%;
    top: 2.5rem;
    left: 2.5rem;
    transform: rotate(30deg);
}

.r4 {
    position: absolute;
    width: 40px;
    height: 20px;
    background-color: black;
    border-radius: 50% 20% 20% 40%;
    top: 3.5rem;
    left: 1.2rem;
    transform: rotate(110deg);
}

.r5 {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    top: 2.2rem;
    left: 2rem;
    transform: rotate(110deg);
}


.car-windowL {
    position: absolute;
    width: 120px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.844);
    border-radius: 50% 20% 0% 0%;
    bottom: 5rem;
    left: 6.5rem;
    /* transform: rotate(180deg); */
    animation: 2s linear infinite blink4;
}

.car-windowR {
    position: absolute;
    width: 100px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.827);
    border-radius: 20% 20% 0% 0%;
    bottom: 5rem;
    left: 13rem;
    animation: 2s linear infinite blink5;
}

.car-roof {
    position: absolute;
    width: 250px;
    height: 25px;
    background-color: black;
    /* border-radius: 50%; */
    bottom: 8rem;
    left: 6.5rem;
}

.car-middle {
    position: absolute;
    width: 80px;
    height: 30px;
    background-color: black;
    /* border-radius: 50%; */
    top: -2rem;
    left: 11rem;
    transform: rotate(90deg);
}

.car-left {
    position: absolute;
    width: 80px;
    height: 30px;
    background-color: black;
    /* border-radius: 50%; */
    top: -2.2rem;
    left: 4.5rem;
    transform: rotate(120deg);
}

.car-right {
    position: absolute;
    width: 80px;
    height: 30px;
    background-color: black;
    /* border-radius: 50%; */
    top: -2.4rem;
    left: 16.5rem;
    transform: rotate(80deg);
}

.car-headlight {
    position: absolute;
    width: 30px;
    height: 20px;
    background-color: white;
    border-radius: 30%;
    top: 1rem;
    transform: rotate(90deg);
}

.car-taillight {
    position: absolute;
    width: 30px;
    height: 20px;
    background-color: red;
    border-radius: 30%;
    top: 1rem;
    left: 23.5rem;
    transform: rotate(90deg);
}

.car-bumperL {
    position: absolute;
    width: 40px;
    height: 30px;
    background-color: silver;
    border-radius: 30%;
    top: 3rem;
    transform: rotate(90deg);
}

.car-bumperR {
    position: absolute;
    width: 40px;
    height: 30px;
    background-color: silver;
    border-radius: 30%;
    top: 3rem;
    left: 23.5rem;
    transform: rotate(90deg);
}

.shrub1 {
    background-color: green;
    width: 200px;
    height: 100px;
    position: absolute;
    bottom: 10rem;
    right: 5rem;
    bottom: 5rem;
    border-radius: 35%;
}

.stalk1 {
    background-color: brown;
    width: 20px;
    height: 50px;
    position: absolute;
    bottom: -2rem;
    left: 5rem;
    border-radius: 55%;
}

.sun {
    width: 200px;
    height: 200px;
    background-color: yellow;
    position: absolute;
    border-radius: 50%;
    top: -75px;
    right: -75px;
    /* animation: 15s linear infinite sun; */

}

/* turkey */
.turkey {
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 75px;
    z-index: 1;
    position: relative;
    transition: transform 1s ease-in-out 0ms;
    animation: 28s ease-in-out infinite move alternate;

}

.turkey * {
    position: absolute;
}

.turkey:active {
    transform: scale(1.5);
    cursor: not-allowed;
}

.turkey-head {
    width: 20%;
    height: 45%;
    background: linear-gradient(45deg,
            var(--penguin-skin),
            rgb(239, 240, 228));
    border-radius: 70% 70% 65% 65%;
    top: 10%;
    left: 40%;
    z-index: 1;
}

.mohawk {
    width: 10%;
    height: 30%;
    background: linear-gradient(black, red, black);
    top: -20%;
    left: 45%;
    border-radius: 70% 70% 100% 100%;
}

.face {
    width: 60%;
    height: 70%;
    background-color: var(--penguin-face);
    border-radius: 70% 70% 60% 60%;
    top: 15%;
}

.face.left {
    left: 5%;
}

.face.right {
    right: 5%;
}

.chin {
    width: 10%;
    height: 30%;
    background-color: red;
    top: 80%;
    left: 45%;
    border-radius: 70% 70% 100% 100%;
}

.eye {
    width: 15%;
    height: 17%;
    background-color: black;
    top: 45%;
    border-radius: 50%;
    animation: 1s linear infinite blink;

}

.eye.left {
    left: 25%;
}

.eye.right {
    right: 25%;
}

.eye-lid {
    width: 150%;
    height: 100%;
    background-color: var(--penguin-face);
    top: 25%;
    left: -23%;
    border-radius: 50%;
}

.blush {
    width: 15%;
    height: 10%;
    background-color: red;
    top: 65%;
    border-radius: 50%;
}

.blush.left {
    left: 15%;
}

.blush.right {
    right: 15%;
}

.beak {
    height: 10%;
    background-color: var(--penguin-picorna);
    border-radius: 50%;

}

.beak.top {
    width: 15%;
    top: 60%;
    left: 40%;
}

.beak.bottom {
    width: 10%;
    top: 65%;
    left: 44%;
}

.shirt {
    font: bold 25px Helvetica, sans-serif;
    top: 150px;
    left: 110.5px;
    z-index: 1;
    color: rgb(250, 5, 197);
}

.shirt div {
    font-weight: initial;
    top: 22.5px;
    left: 12px;
}

.turkey-body {
    width: 53%;
    height: 45%;
    background: var(--penguin-skin);
    border-radius: 80% 80% 100% 100%;
    top: 40%;
    left: 23.5%;
}

.turkey-body::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 45%;
    background-color: var(--penguin-skin);
    top: 10%;
    left: 25%;
    border-radius: 0% 0% 100% 100%;
    opacity: 70%;
}

.arm {
    width: 20%;
    height: 80%;
    background: linear-gradient(90deg, black, red, black);
    border-radius: 30% 30% 30% 120%;
    z-index: -1;
}

.arm.left {
    top: 60%;
    left: 15%;
    transform-origin: top left;
    transform: rotate(100deg) scaleX(1);
    animation: .2s ease-in-out infinite wave;
}

.arm.right {
    top: -30%;
    right: 10%;
    transform-origin: bottom right;
    transform: rotate(100deg) scaleX(-1);
    animation: .2s ease-in-out infinite wave1;
    border-radius: 300% 300% 300% 100%;
}



.foot {
    width: 15%;
    height: 30%;
    background-color: red;
    top: 85%;
    border-radius: 50%;
    z-index: -1;
}

.foot.left {
    left: 25%;
    transform: rotate(80deg);
}

.foot.right {
    right: 25%;
    transform: rotate(-80deg);
}

.feather1 {
    width: 50px;
    height: 200px;
    background: linear-gradient(15deg, black, red, black);
    top: -80%;
    border-radius: 20%;
    transform: rotate(-35deg);
    z-index: -1;
    left: 10px;
    animation: f1 3s linear infinite alternate;
}

.feather2 {
    width: 50px;
    height: 200px;
    background: linear-gradient(15deg, black, blue, black);
    top: -85%;
    left: 35px;
    border-radius: 25%;
    transform: rotate(-20deg);
    z-index: -1;
    animation: f1 3s linear infinite alternate;
}

.feather3 {
    width: 50px;
    height: 200px;
    background: linear-gradient(15deg, black, red, black);
    top: -85%;
    left: 55px;
    border-radius: 25%;
    transform: rotate(0deg);
    z-index: -1;
    animation: f1 3s linear infinite alternate;
}

.feather4 {
    width: 50px;
    height: 200px;
    background: linear-gradient(15deg, black, blue, black);
    top: -85%;
    left: 70px;
    border-radius: 25%;
    transform: rotate(20deg);
    z-index: -1;
    animation: f1 3s linear infinite alternate;
}

.feather5 {
    width: 50px;
    height: 200px;
    background: linear-gradient(15deg, black, red, black);
    top: -80%;
    left: 95px;
    border-radius: 20%;
    transform: rotate(35deg);
    z-index: -1;
    animation: f1 3s linear infinite alternate;
}

/* man */
.man {
    position: absolute;
    left: 18rem;
    bottom: 20rem;
}

.head {
    border-radius: 50%;
    background-color: tan;
    width: 100px;
    height: 100px;
}

.hair {
    width: 100%;
    height: 10%;
    background-color: black;
    right: 0.05px;
    position: absolute;
}

.hat {
    width: 80%;
    height: 60%;
    left: 10px;
    background-color: black;
    top: -55px;
    position: absolute;
}

.eyes {
    border-radius: 50%;
    width: 20%;
    height: 20%;
}

.left-eye {
    border-radius: 50%;
    width: 20%;
    height: 20%;
    background-color: aqua;
    position: absolute;
    top: 30px;
    left: 15px;
    animation: eyes 3s linear infinite alternate;
}

.right-eye {
    border-radius: 50%;
    width: 20%;
    height: 20%;
    right: 15px;
    background-color: aqua;
    position: absolute;
    top: 30px;
    animation: eyes 3s linear infinite alternate;
}

.mouth {
    border-radius: 50%;
    width: 20%;
    height: 20%;
    right: 45px;
    background-color: black;
    position: absolute;
    bottom: 20px;
    animation: mouth 3s linear infinite alternate;
}

.man-chin {
    width: 40px;
    height: 5px;
    bottom: 40px;
    left: 25px;
    background-color: black;
    position: absolute;
}

.man-body {
    width: 100px;
    height: 100px;
    bottom: -90px;
    background-color: black;
    border-radius: 30%;
    position: absolute;

}

.left-arm {
    width: 10px;
    height: 100px;
    border-radius: 40%;
    background-color: tan;
    right: 80px;
    position: absolute;
    animation: 1s ease-in-out infinite wave2;
}

.right-arm {
    width: 10px;
    height: 100px;
    border-radius: 40% 20% 20% 50%;
    background-color: tan;
    left: 80px;
    position: absolute;
    transform: rotate(-9deg);
    animation: 1s ease-in-out infinite wave2;
}

.legs {
    z-index: -2;
}

.left-leg {
    width: 20px;
    height: 100px;
    border-radius: 40%;
    background-color: tan;
    right: 60px;
    position: absolute;
    bottom: -90px;
    transform: rotate(-20deg);
    animation: 1s ease-in-out infinite wave2;
}

.right-leg {
    width: 20px;
    height: 100px;
    border-radius: 40%;
    background-color: tan;
    left: 60px;
    position: absolute;
    bottom: -90px;
    transform: rotate(-15deg);
    animation: 1s ease-in-out infinite wave2;
}

.left-foot {
    width: 53px;
    height: 30px;
    border-radius: 45%;
    background-color: black;
    bottom: -100px;
    position: absolute;
    left: -5px;
    animation: 1s ease-in-out infinite wave2;
}

.right-foot {
    width: 53px;
    height: 30px;
    border-radius: 45%;
    background-color: black;
    bottom: -100px;
    position: absolute;
    right: -5px;
    animation: 1s ease-in-out infinite wave2;
}



/* indian */
.indian {
    right: -35rem;
    top: 10rem;
    position: relative;
}

.indian * {
    position: absolute;
}

.indian-head {
    background-color: burlywood;
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.indian-hatt {
    background-color: whitesmoke;
    width: 90px;
    border-radius: 40%;
    height: 20px;
    top: 1rem;
    left: .2rem;
}

.indian-hair {
    background-color: black;
    width: 10px;
    height: 50px;
    top: -2rem;
    left: 1.5rem;
    border-radius: 30% 30% 30% 50%;
}

.indian-hat {
    background-color: black;
    width: 10px;
    height: 50px;
    top: -2rem;
    border-radius: 30% 30% 30% 50%;
}

.indian-hat1 {
    background-color: black;
    width: 10px;
    height: 50px;
    top: -2rem;
    left: 3rem;
    border-radius: 30% 30% 30% 50%;
}

.indian-eyeL {
    background-color: black;
    border-radius: 50%;
    width: 15px;
    height: 25px;
    top: 2rem;
    left: 1rem;
    animation: 1s linear infinite blink1;
}

.indian-eyeR {
    background-color: black;
    border-radius: 50%;
    width: 15px;
    height: 25px;
    bottom: -3.3rem;
    left: 3rem;
    animation: 1s linear infinite blink1;
}

.indian-lidL {
    background-color: burlywood;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 2.5rem;
    left: .9rem;

}

.indian-lidR {
    background-color: burlywood;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 2.9rem;
    top: 2.5rem;
}

.indian-mouth {

    width: 40px;
    height: 10px;
    background-color: black;
    top: 3.5rem;
    left: 1rem;
    animation: 1s linear infinite blink2;
}

.indian-chin {
    background-color: black;
    width: 5px;
    height: 400px;
    left: -1rem;

}

.arrow {
    width: 100px;
    height: 100px;
    color: rgb(251, 251, 251);
    top: -2rem;
    left: -10px;

}

.indian-body {
    width: 50px;
    height: 150px;
    background-color: burlywood;
    top: 5rem;
    left: 1.5rem;
    border-radius: 40%;

}

.belt {
    width: 55px;
    height: 10px;
    background-color: antiquewhite;
    top: 5rem;
}

.thong {
    width: 50px;
    height: 50px;
    background-color: brown;
    top: 5rem;
}

.indian-armL {
    background-color: burlywood;
    width: 10px;
    height: 100px;
    left: -1rem;
    transform: rotate(25deg);
}

.indian-armR {
    background-color: burlywood;
    width: 10px;
    height: 100px;
    left: 3rem;
    transform: rotate(-25deg);
}

.indian-legL {
    background-color: burlywood;
    width: 10px;
    height: 100px;
    top: 6rem;
}

.indian-legR {
    background-color: burlywood;
    width: 10px;
    height: 100px;
    top: 6rem;
    left: 2rem;
}

.indian-footL {
    width: 20px;
    height: 30px;
    background-color: brown;
    top: 10rem;
    border-radius: 30%;
    left: -2px;
}

.indian-footR {
    width: 20px;
    height: 30px;
    background-color: brown;
    top: 10rem;
    border-radius: 30%;
    left: 2rem;
}

/* teepee */
.tee-pee {
    position: relative;
    right: -55rem;
}

.tee-pee * {
    position: absolute;
}

.pole {
    width: 10px;
    height: 250px;
    background-color: brown;
    left: 1rem;
    top: 1rem;

}

.pole1 {
    width: 10px;
    height: 300px;
    background-color: brown;
    left: 3rem;
    top: 1rem;
    transform: rotate(-12deg);
}

.pole2 {
    width: 10px;
    height: 300px;
    background-color: brown;
    top: 1rem;
    left: -1rem;
    transform: rotate(12deg);
}

.fabric {
    width: 130px;
    height: 200px;
    border-radius: 40% 40% 0% 0%;
    background-color: rgb(240, 248, 255);
    top: 6.5rem;
    left: -2rem;
    animation: 3s linear infinite blink3;
}

.fabric1 {
    width: 50px;
    height: 350px;
    border-radius: 40% 40% 10% 20%;
    background-color: rgb(240, 248, 255);
    left: 2rem;
    transform: rotate(-20deg);
}

.fabric2 {
    width: 50px;
    height: 350px;
    border-radius: 40% 40% 10% 20%;
    background-color: rgb(240, 248, 255);
    transform: rotate(20deg);
    left: -2rem;
}

/* corn */
.corn {
    position: absolute;
    left: 520px;
    bottom: 500px;

}

.corn-cobb {
    border-radius: 50%;
    background-color: yellow;
    width: 10px;
    height: 50px;

}

.corn-stalk {
    border-radius: 50%;
    background-color: lime;
    width: 2px;
    height: 300px;
    left: 4px;
    position: absolute;
}

.corn-leave {
    border-radius: 50%;
    background-color: lime;
    width: 12px;
    height: 50px;
    left: 15px;
    top: 20px;
    position: absolute;
    transform: rotate(25deg);
}

.corn-leave1 {
    border-radius: 50%;
    background-color: lime;
    width: 12px;
    height: 50px;
    right: 15px;
    top: 20px;
    position: absolute;
    transform: rotate(-25deg);
}

.corn-leave2 {
    border-radius: 50%;
    background-color: lime;
    width: 12px;
    height: 150px;
    left: 30px;
    top: 100px;
    position: absolute;
    transform: rotate(25deg);
}

.corn-leave3 {
    border-radius: 50%;
    background-color: lime;
    width: 12px;
    height: 150px;
    right: 30px;
    top: 00px;
    position: absolute;
    transform: rotate(-25deg);
}

.greeting {
    text-align: center;
    font-size: xx-large;
    color: blue;
}

.ground {
    width: 100vw;
    height: calc(100vh - 00px);
    background: linear-gradient(90deg, lime, green, lime);
    z-index: -1;
    position: absolute;
    margin-top: -58px;
    animation: 3s linear infinite ground;
}

.skull {
    font-size: 45px;
    left: 1rem;
    top: .5rem;

    position: absolute;

}

.driver {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgb(250, 254, 254);
    top: -2.5rem;
    left: 9rem;
    z-index: -1;
    border-radius: 50%;
}

.driver-eye {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    top: .2rem;
}

.driver-mouth {
    position: absolute;
    width: 20px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    top: 1rem;
}

.driver-hat {
    position: absolute;
    width: 40px;
    height: 15px;
    background-color: black;
}

/* dog */
.dog {
    position: relative;
    left: 35rem;
}

.dog-body {
    position: absolute;
    width: 200px;
    height: 70px;
    background-color: black;
    border-radius: 50%;
    left: 5rem;
    top: 5rem;
}

.dog-legfl {
    position: absolute;
    width: 20px;
    height: 100px;
    background-color: rgb(13, 1, 1);
    top: 2rem;
    left: 1rem;
    animation:  dog-body 1s infinite forwards;
}

.dog-legfr {
    position: absolute;
    width: 20px;
    height: 100px;
    top: 2rem;
    left: 1.4rem;
    background-color: black;
    transform: rotate(-20deg);
}

.dog-legrl {
    position: absolute;
    width: 20px;
    height: 100px;
    top: 2rem;
    left: 8rem;
    background-color: black;
}

.dog-legrr {
    position: absolute;
    width: 20px;
    height: 100px;
    top: 2rem;
    left: 7.4rem;
    transform: rotate(20deg);
    background-color: rgb(3, 3, 3);
}

.tail {
    position: absolute;
    width: 10px;
    height: 50px;
    transform: rotate(-110deg);
    top: 1rem;
    background-color: rgb(1, 1, 1);
    animation:  dog-tail 1s infinite ;
}

.tip {
    position: absolute;
    width: 20px;
    height: 10px;
    top: -.5rem;
    transform: rotate(-25deg);
    background-color: rgb(6, 6, 6);
    animation:  dog-tip 1s infinite ;
}

.dog-head {
    position: absolute;
    width: 100px;
    height: 50px;
    top: 4rem;
    left: 11rem;
    border-radius: 50%;
    background-color: rgb(4, 4, 4);
}

.dog-earL {
    position: absolute;
    width: 20px;
    border-radius: 50%;
    height: 100px;
    left: 1rem;
    top: -1rem;
    background-color: black;
}

.dog-earR {
    position: absolute;
    width: 20px;
    border-radius: 50%;
    height: 100px;
    left: rem;
    top: -1rem;
    background-color: black;
}

.dog-mouthT {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 2rem;
    border-radius: 50%;
    background-color: rgb(250, 4, 4);
}

.dog-mouthB {
    position: absolute;
    width: 40px;
    top: 2rem;
    left: 3rem;
    height: 10px;
    background-color: rgb(11, 10, 10);
    animation:  dog-mouth 1s infinite forwards;
}

@keyframes dog-body {
    0% {
        transform-origin: bottom right;
        transform: rotate(-8deg);

    }

    50% {
        transform-origin: bottom right;
        transform: rotate(-1deg);
    }

    100% {
        transform-origin: bottom left;
        transform: rotate(10deg);

    }
}

@keyframes  dog-tip {
    0% {
    /* top: .1rem; */
    transform: rotate(-140deg);
    
    
    }

}

@keyframes  dog-tail  {
    0% {
    top: -.1rem;
    
    }
}

@keyframes  dog-mouth  {
    0% {
        transform: rotate(20deg);
    
    }
}


@keyframes hydro {
    0% {
        transform-origin: bottom right;
        transform: rotate(-8deg);

    }

    50% {
        transform-origin: bottom right;
        transform: rotate(-1deg);
    }

    100% {
        transform-origin: bottom left;
        transform: rotate(10deg);

    }
}

@keyframes roll {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes float {

    50% {
        transform: rotate(1deg);
    }

}

@keyframes wave2 {
    50% {
        transform: rotate(5deg);
    }

}

@keyframes flag {
    50% {
        transform: rotate(-5deg);
    }

}

@keyframes sail {
    50% {
        transform: rotate(5deg);
    }

}

@keyframes sail1 {
    50% {
        top: -150px;
    }

}

@keyframes mouth {
    100% {
        background-color: red;
    }

}

@keyframes cloud {
    50% {
        background-color: rgb(255, 255, 255);

    }


    100% {
        background-color: rgba(128, 128, 128, 0.668);
    }

}


@keyframes clouds {
    0% {}


    100% {
        transform: translateX(-2000px);
    }

}

@keyframes f1 {
    0% {
        transform: translateX(0px);

    }

    100% {}

}

@keyframes blink {
    10% {
        background-color: red;

    }

    20% {
        background-color: blue;
    }

    30% {
        background: linear-gradient(90deg, rgb(88, 175, 236), rgb(182, 255, 255));
    }

    40% {
        background: linear-gradient(red, rgb(182, 255, 255));
    }
}

@keyframes blink1 {
    50% {
        top: 1.2rem;

    }
}

@keyframes blink2 {
    50% {
        border-radius: 50%;
        height: 20px;
    }
}

@keyframes blink3 {
    50% {
        /* border-radius: 0%; */
        height: 50px;
    }
}

@keyframes blink4 {
    50% {
        /* border-radius: 0%; */
        height: 10px;

    }
}
@keyframes blink5 {
    50% {
        /* border-radius: 0%; */
        height: 35px;

    }
}

@keyframes move {
    10% {
        bottom: 0%;
        left: 0%;
    }

    20% {
        bottom: -50%;
        left: -50%;
    }

    30% {
        bottom: 0%;
        left: -50%;
    }

    40% {
        bottom: 0%;
        left: 50%;
    }

    50% {
        bottom: -50%;
        left: 50%;
    }

    60% {
        bottom: 0%;
        left: -50%;
    }

    70% {
        bottom: 0%;
        left: 0%;
    }

    80% {
        bottom: -50%;
        left: -50%;
    }

    90% {
        bottom: -50%;
        left: 50%;
    }

    100% {
        bottom: 0%;
        left: 50%;
    }
}

@keyframes sun {
    0% {

        background-color: yellow;
        top: 10%;
    }

    100% {
        background-color: orangered;

        z-index: -1
    }
}

@keyframes wave {
    10% {
        transform: rotate(110deg) scaleX(-1);
    }

    20% {
        transform: rotate(130deg) scaleX(-2);
    }

    30% {
        transform: rotate(110deg) scaleX(-3);
    }

    40% {
        transform: rotate(130deg) scaleX(-4);
    }
}

@keyframes wave1 {
    10% {
        transform: rotate(10deg) scaleX(1);
    }

    20% {
        transform: rotate(30deg) scaleX(2);
    }

    30% {
        transform: rotate(10deg) scaleX(3);
    }

    40% {
        transform: rotate(30deg) scaleX(4);
    }
}



i {

    display: inline-block;
    animation: falling 3s linear 0s infinite backwards;
    background-image: linear-gradient(180deg,
            transparent 40%,
            white 40% 60%,
            transparent 60%),
        linear-gradient(90deg, transparent 40%, white 40% 60%, transparent 60%),
        linear-gradient(45deg, transparent 43%, white 43% 57%, transparent 57%),
        linear-gradient(135deg, transparent 43%, white 43% 57%, transparent 57%);
}

i:nth-of-type(4n) {
    height: 30px;
    width: 30px;
    transform-origin: right -30px;
}

i:nth-of-type(4n + 1) {
    height: 24px;
    width: 24px;
    transform-origin: left 30px;
}

i:nth-of-type(4n + 2) {
    height: 10px;
    width: 10px;
    transform-origin: -30px 0;
}

i:nth-of-type(4n + 3) {
    height: 40px;
    width: 40px;
    transform-origin: -50px 0;
}

i:nth-of-type(4n) {
    animation-duration: 5.3s;
    animation-iteration-count: 12;
    transform-origin: -10px -20px;
}

i:nth-of-type(4n + 1) {
    animation-duration: 3.1s;
    animation-iteration-count: 20;
    transform-origin: 10px -20px;
}

i:nth-of-type(4n + 2) {
    animation-duration: 1.7s;
    animation-iteration-count: 35;
    transform-origin: right -20px;
}

i:nth-of-type(3n) {
    animation-delay: 2.3s;
}

i:nth-of-type(3n + 1) {
    animation-delay: 1.5s;
}

i:nth-of-type(3n + 2) {
    animation-delay: 3.4s;
}

i:nth-of-type(5n) {
    animation-timing-function: ease-in-out;
}

i:nth-of-type(5n + 1) {
    animation-timing-function: ease-out;
}

i:nth-of-type(5n + 2) {
    animation-timing-function: ease;
}

i:nth-of-type(5n + 3) {
    animation-timing-function: ease-in;
}

i:nth-of-type(5n + 4) {
    animation-timing-function: linear;
}

i:nth-of-type(11n) {
    animation-timing-function: cubic-bezier(0.2, 0.3, 0.8, 0.9);
}

i:nth-of-type(7n) {
    opacity: 0.5;
}

i:nth-of-type(7n + 2) {
    opacity: 0.3;
}

i:nth-of-type(7n + 4) {
    opacity: 0.7;
}

i:nth-of-type(7n + 6) {
    opacity: 0.6;
    animation-timing-function: ease-in;
    transform-origin: left 10px;
}

i:nth-of-type(7n + 1) {
    opacity: 0.8;
}

.root {
    position: absolute;
    top: -100px;
   
}

@keyframes falling {
    from {
        transform: translate(0, -50px) rotate(0deg) scale(0.9, 0.9);
    }

    to {
        transform: translate(0px, 1600px) rotate(360deg) scale(1.1, 1.1);
    }
}
/* .truck{
    font-size: 300px;
    position: absolute;
    top: 10rem;
    left: 20rem;
} */

 .cloud {
    opacity: .9;
    position: absolute;
top: -10px;
    right: 0;
    left: 0;
    background-repeat: no-repeat;
  } 
  .cloud {
    width: 100%;
    height: 150px;
    background: #ffffff;
    border-radius: 0 0 90px 33% / 0 0 45px 50px;
    box-shadow:
      5px 15px 15px white,
      -5px 15px 15px white,
      0 20px 20px rgb(125 125 125 / 0.5);
  }